PORT = 3000
NODE_ENV = development
DATABASE_URL = postgres://username:password@localhost/db_name
ACCESS_TOKEN_KEY = Your token key
ACCESS_TOKEN_EXPIRY = Your token key expires
REFRESH_TOKEN_KEY = Your token key
REFRESH_TOKEN_EXPIRY = Your token key expires
POSTGRES_USER= Your db username
POSTGRES_PASSWORD= Your db password
POSTGRES_DB= Your db name
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=