PORT = 3000
NODE_ENV = development
DATABASE_URL = postgres://localhost:5432
ACCESS_TOKEN_KEY = 
ACCESS_TOKEN_EXPIRY = 
REFRESH_TOKEN_KEY = 
REFRESH_TOKEN_EXPIRY = 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=